@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h2 {
  border-radius: 30px;
  background-color: #d7dda2;
  width: 1000px;
  padding: 10%;
}

.App {
  background-color: #a8ad77;
}

.about-me-container {
  display: grid;
  grid-template-rows: auto auto; /* Two rows: one for header, one for icons */
  grid-template-columns: 1fr; /* Single column to span the full width */
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center; /* Center align items in the grid */
}

.button-highlight {
  border: 2px solid transparent; /* Initial border */
  border-radius: 50%; /* Optional: makes the border rounded */
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Smooth transition */
}

.button-highlight:hover {
  border-color: #642c1e;
  border-width: 4px;
  border-style: solid;
}

.icon-container {
  display: grid;
  grid-row: 3;
  padding: 100px;
  gap: 10px;
}

.linkedIn-icon,
.waving-hand-icon {
  font-size: medium;
  padding: 10px;
}

.linkedIn-icon {
  animation: pulsate 3s;
}

.MuiTouchRipple-root {
  display: none !important;
}

.MuiButtonBase-root {
  display: inline-flex !important;
  background-color: #d7dda2 !important;
  border-radius: 30px !important;
}

.name-header {
  grid-row: 1; 
  grid-column: 1; 
  text-align: center; 
  font-size: 70px;
  color: #642c1e;
}

.role-description {
  color: #642c1e;
  text-align: center;
  font-size: 30px;
}

.role-container {
  width: 50%;
  height: 50%;
  padding: 10px;
  margin: auto;
}

.waving-hand-icon {
  animation: wave 2s;
  transform-origin: bottom center;
}
