@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h1, h2 {
  border-radius: 30px;
  padding: 2%;
  margin: 0 auto; /* Center the element */
  width: 50%;
}

.App {
  background-color: #a8ad77;
}

.about-me-container {
  display: grid;
  grid-template-rows: auto auto auto; /* Two rows: one for header, one for icons */
  grid-template-columns: 1fr; /* Single column to span the full width */
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center; /* Center align items in the grid */
  gap: 20px;
  padding: 50px;
}

.button-highlight {
  display: inline-flex;
  align-items: center;
  background-color: #d7dda2;
  border-radius: 30px;
  font-family: 'Brandon Grotesque';
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: border-color 1s ease, border-width 1s ease;
}

.button-highlight:hover,
.button-wave:hover {
  border-color: #642c1e;
  border-width: 3px;
  border-style: solid;
}

.button-wave {
  background-color: #d7dda2;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: border-color 0.1s ease, border-width 0.1s ease;
}

.button-highlight:hover .waving-hand-icon {
  animation: wave 2s infinite;
}

.icon-container {
  display: grid;
  grid-row: 3;
  padding: 50px;
  gap: 10px;
  padding-top: 5%;
}

.linkedIn-icon,
.waving-hand-icon {
  font-size: medium;
  padding: 10px;
}

.button-highlight:hover .linkedIn-icon {
  animation: pulsate 3s infinite;
}

.MuiTouchRipple-root {
  display: none !important;
}

.MuiButtonBase-root {
  display: inline-flex !important;
  background-color: #d7dda2 !important;
  border-radius: 30px !important;
}

.name-header {
  font-family: 'Palatino Linotype';
  grid-row: 1; 
  grid-column: 1; 
  text-align: center; 
  font-size: 70px;
  color: #642c1e;
  width: 800px;
}

.role-description {
  grid-row: 2; 
  color: #642c1e;
  text-align: center;
  font-size: 30px;
  font-family: 'Brandon Grotesque';
  width: 80%;
  padding: 30px;
  margin: auto;
  border-radius: 30px;
  background-color: #ceac91;
}